<!--footer start -->
<footer class="footer-3">
    <section class="instagram section-b-space">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </section>
    <div class="footer-section">
        <div class="container">
            <div class="row border-cls section-b-space section-t-space">
                <div class="col-xl-3 col-lg-12 about-section">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-content">
                        <div class="footer-logo bazardrop-logo">
                            <div class="app-section">
                                <div class="app-content">
                                    <div>
                                        <h5>Download the Tungipara School Library app</h5>
                                        <div class="app-buttons">
                                            <!--<a href="https://play.google.com/store/apps/details?id=com.zamzamit.tungipara_school_library" target="_blank">
                                                <img ng-src="assets/frontend/images/app/app-storw.png" class=" img-fluid" alt="">
                                            </a>-->
                                            <a href="https://play.google.com/store/apps/details?id=com.zamzamit.tungipara_school_library" target="_blank">
                                                <img ng-src="assets/frontend/images/app/play-store.png" class=" img-fluid" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      
                    </div>
                </div>
                <div class="col-xl-9 col-lg-12">
                    <div class="row height-cls">
                        <div class="col-lg-3 footer-link">
                            <div>
                                <div class="footer-title">
                                    <h4>my account</h4>
                                </div>
                                <div class="footer-content">
                                    <ul>
                                        <li><a href="#">about us</a></li>
                                        <li><a href="#">contact us</a></li>
                                        <li><a href="#">terms & conditions</a></li>
                                        <li><a href="#">return & exchanges</a></li>
                                        <li><a href="#">secure shopping</a></li>
                                        <li><a href="#">shipping & delivery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 footer-link">
                            <div>
                                <div class="footer-title">
                                    <h4>contact us</h4>
                                </div>
                                <div class="footer-content">
                                    <ul class="contact-list">
                                        <li><i class="fa fa-map-marker"></i> Tungipara, Gopalgonj, Bangladesh.
                                        </li>
                                        <li><i class="fa fa-phone"></i>Call Us: 01914404014</li>
                                        <li><i class="fa fa-envelope-o"></i>Email Us: Support@Fiot.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 footer-link">
                            <iframe src="https://www.google.com/maps/place/Tungipara/@22.9075674,89.8982047,15z/data=!4m2!3m1!1s0x39ffe4035842eb41:0x111a4ee6db3803fe" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
             
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p>
                            <i class="fa fa-copyright" aria-hidden="true"></i>
                            All rights reserved
                        </p>

                    </div>
                </div>
                <div class="col-xl-9 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>
                            <li>
                                <a href="#"><img ng-src="assets/frontend/images/icon/visa.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img ng-src="assets/frontend/images/icon/mastercard.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img ng-src="assets/frontend/images/icon/paypal.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img ng-src="assets/frontend/images/icon/american-express.png" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img ng-src="assets/frontend/images/icon/discover.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->


<div class="tap-top">
    <div>
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>