<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <category></category>

                <customer-sidebar></customer-sidebar>

            </div>
            <div class="col-md-9">
                <div class="dashboard-right">
                    <div class="dashboard theme-card">
                        <div class="page-title">
                            <h2>Change Password</h2>
                        </div>

                        <div class="box-account box-info">
                            <form class="theme-form" name="changePaswordForm">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CurrentPassword">Current Password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword" ng-model="formData.CurrentPassword" placeholder="Enter your current password" required minlength="6">

                                            <div class="text-danger" ng-show="changePaswordForm.$submitted || changePaswordForm.password.$touched || $root.ERRORS.CurrentPassword.length > 0">
                                                <div ng-show="changePaswordForm.CurrentPassword.$error.required">Please enter your current password.</div>
                                                <div ng-repeat="error in $root.ERRORS.CurrentPassword">{{ error }}</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPassword">New Password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="NewPassword" name="NewPassword" ng-model="formData.NewPassword" placeholder="Enter your new password" required minlength="6">

                                            <div class="text-danger" ng-show="changePaswordForm.$submitted || changePaswordForm.NewPassword.$touched || $root.ERRORS.NewPassword.length > 0">
                                                <div ng-show="changePaswordForm.NewPassword.$error.required">Please enter your new password.</div>
                                                <div ng-show="changePaswordForm.NewPassword.$error.minlength">Password must be at least six character.</div>
                                                <div ng-repeat="error in $root.ERRORS.NewPassword">{{ error }}</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="SentPassword">Confirm Password <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" id="SentPassword" name="SentPassword" ng-model="formData.SentPassword" placeholder="Confirm your password" required compare-to="formData.NewPassword">

                                            <div class="text-danger" ng-show="changePaswordForm.$submitted || changePaswordForm.SentPassword.$touched">
                                                <span ng-show="changePaswordForm.SentPassword.$error.required">Please confirm your password.</span>
                                                <span ng-show="changePaswordForm.SentPassword.$error.compareTo">Confirm password did no match.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button class="btn btn-solid" ng-click="update()">Update</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>