<section class="custom-header">
    <!--Offcanvas menu area start-->
    <div class="off_canvars_overlay"></div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                        </div>
                        <div class="antomi_message">
                            <p>Get free shipping – Free 30 day money back guarantee</p>
                        </div>
                        <div class="header_top_settings text-right">
                            <ul>
                                <li><a href="#">Store Locations</a></li>
                                <li><a href="#">Track Your Order</a></li>
                                <li>Hotline: <a href="tel:+8801755773403">01755773403 </a></li>
                                <li>Quality Guarantee Of Products</li>
                            </ul>
                        </div>
                        <div class="header_configure_area">
                            <div class="header_wishlist">
                                <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>
                                    <span class="wishlist_count">3</span>
                                </a>
                            </div>
                            <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-book"></i>

                                    <span class="cart_price">$152.00 <i class="ion-ios-arrow-down"></i></span>
                                    <span class="cart_count">2</span>
                                </a>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    <div class="mini_cart_inner">
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="assets/frontend/images/s-product/product.jpg"
                                                        alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">Sit voluptatem rhoncus sem lectus</a>
                                                <p>Qty: 1 X <span> $60.00 </span></p>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="#"><i class="ion-android-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="cart_item">
                                            <div class="cart_img">
                                                <a href="#"><img src="assets/frontend/images/s-product/product.jpg"
                                                        alt=""></a>
                                            </div>
                                            <div class="cart_info">
                                                <a href="#">Natus erro at congue massa commodo</a>
                                                <p>Qty: 1 X <span> $60.00 </span></p>
                                            </div>
                                            <div class="cart_remove">
                                                <a href="#"><i class="ion-android-close"></i></a>
                                            </div>
                                        </div>
                                        <div class="mini_cart_table">
                                            <div class="cart_total">
                                                <span>Sub total:</span>
                                                <span class="price">$138.00</span>
                                            </div>
                                            <div class="cart_total mt-10">
                                                <span>total:</span>
                                                <span class="price">$138.00</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini_cart_footer">
                                        <div class="cart_button">
                                            <a href="cart.html">Book Info</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="checkout.html">Proceed</a>
                                        </div>
                                    </div>
                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 1</a></li>
                                        <li><a href="index-2.html">Home 2</a></li>
                                        <li><a href="index-3.html">Home 3</a></li>
                                        <li><a href="index-4.html">Home 4</a></li>
                                        <li><a href="index-5.html">Home 5</a></li>
                                        <li><a href="index-6.html">Home 6</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Shop Layouts</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop-fullwidth.html">Full Width</a></li>
                                                <li><a href="shop-fullwidth-list.html">Full Width list</a></li>
                                                <li><a href="shop-right-sidebar.html">Right Sidebar </a></li>
                                                <li><a href="shop-right-sidebar-list.html"> Right Sidebar list</a></li>
                                                <li><a href="shop-list.html">List View</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">other Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="my-account.html">my account</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Product Types</a>
                                            <ul class="sub-menu">
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="product-sidebar.html">product sidebar</a></li>
                                                <li><a href="product-grouped.html">product grouped</a></li>
                                                <li><a href="variable-product.html">product variable</a></li>
                                                <li><a href="product-countdown.html">product countdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                        <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                        <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                        <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">pages </a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="faq.html">Frequently Questions</a></li>
                                        <li><a href="privacy-policy.html">privacy policy</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                        <li><a href="#/login">login</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="my-account.html">my account</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="contact.html"> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="Offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <header>
        <div class="main_header">
            <div class="container">
                 
                <div class="header_top">
                   
                    <div class="row align-items-center justify-content-between">
                         
                        <div class="col-md-4 col-md-2">
                            <ul>
                                <li>

                                    <a href="tel:+8801914404014">
                                        <span class="fa fa-mobile-phone mr-1"></span>Order
                                        Now: 01914404014
                                    </a>

                                </li>
                            </ul>
 
                        </div>
                         

                            <div class="header_top_settings text-center">
                                 
                                <div class="col-md-2 col-md-2">
                                    <div class="search_container">
                                        <form ng-submit="productSearch()">
                                            <div class="school_search" ng-show="!$root.USER">
                                                <select class="select_school_option" name="school" id="school" ng-model="search.schoolid" ng-change="schoolSelected()">
                                                    <option selected value="">School Names</option>
                                                    <option value="{{ school.id }}" ng-repeat="school in $root.SchoolList">{{ school.name }}</option>
                                                </select>
                                            </div>
                                            
                                            <div class="hover_category" ng-show="$root.USER">
                                                <span class="cart_price">{{  $root.USER.schoolName }}</span>
                                            </div>
                                            <!--<div class="search_box">
                                            <input placeholder="Search seoFilename..." type="text" name="keyword" id="keyword" ng-model="search.keyword">
                                            <button type="submit">Search</button>
                                            </div>-->
                                        </form>
                                    </div>
                                </div>
                            </div>

                        <div class="col-md-4 col-md-4">
                        
                            <div class="header_top_settings text-right">

                                <ul ng-if="!$root.USER">
                                    <li><a href="#/login"><span>LOGIN</span></a></li>
                                    <li><a href="#/registration"><span>REGISTER</span></a></li>
                                </ul>

                                <ul ng-if="$root.USER">
                                    <li>Welcome! {{ $root.USER.name }}</li>
                                    <li><a href="#/customer/orders"><span>Books & Members</span></a></li>
                                    <li><a href="#"
                                            ng-click="logout(); $event.preventDefault();"><span>Logout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <!--header top start-->
                <!--header middel start-->
                <div class="header_middle sticky-header">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-3 col-md-6 logo-design">
                            <div class="">
                                <a href="/"><img ng-src="assets/frontend/images/logo/logo.jpg" alt=""
                                        style="height: 125px;"></a>
                            </div>
                        </div>


                        <div class=" col-lg-7 col-md-12">
                            <div class="search_container">
                                <form ng-submit="productSearch()">
                                    <div class="hover_category">
                                        <select class="select_option" name="category" id="category"
                                            ng-model="search.categoryId">
                                            <option selected value="">All Categories</option>
                                            <option value="{{ category.id }}" ng-repeat="category in $root.CATEGORIES">
                                                {{ category.name }}</option>
                                        </select>
                                    </div>
                                    <div class="search_box">
                                        <input placeholder="Search book..." type="text" name="keyword" id="keyword"
                                            ng-model="search.keyword">
                                        <button type="submit">Search</button>
                                        <!-- <button value="{{ catalog.products }}" ng-repeat="catalog in $root.PRODUCTS"></button> -->

                                    </div>
                                </form>
                          <!--  </div>-->

                        <!--    <div class="search_container">       -->       
                                <div class="col-md-12">
                                    <div class="col-md-4 float-left">
                                        <div class="hover_category" ng-hide="!search.advancedSearch"> 
                                            <select class=" select_option w-100" name="author" id="author" ng-model="search.authorId">
                                                <option selected value="">All Authors</option>
                                                <option value="{{ author.id }}" ng-repeat="author in $root.AuthorName">{{ author.name }}</option>       
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="col-md-4 float-left">
                                        <div class="hover_category" ng-hide="!search.advancedSearch">
                                            <select class="select_option w-100" name="publisher" id="publisher" ng-model="search.publisherId">                                               
                                                <option selected value="">All Publishers</option>
                                                <option value="{{ publisher.id }}"ng-repeat="publisher in $root.PublishersName">{{ publisher.name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 float-left">
                                        <div class="button_class"> 
                                            <label class="label" ng-click="showAdvancedSearch()" ng-hide="search.advancedSearch">Show Advance Search</label>
                                            <button class="btn_modal_fire" ng-click="hideAdvancedSearch()" ng-hide="!search.advancedSearch">Hide Advance Search</button>
                                        </div>
                                    </div>
                                </div>                                    
                            </div>
                        </div>


                    


                        <!-- <div class=" col-lg-4 col-md-12">
                            <div class="search_container">
                                <form ng-submit="productSearch()">
                                    <div class="hover_category">
                                        <select class="select_author_option" name="author" id="author" ng-model="search.categoryId">
                                            <option selected value="">Author Name</option>
                                            <option value="{{ category.id }}" ng-repeat="category in $root.CATEGORIES">{{ category.name }}</option>
                                        </select>
                                    </div>
                                    <div class="hover_category">
                                        <select class="select__publiser_option" name="category" id="category" ng-model="search.categoryId">
                                            <option selected value="">Publisher Name</option>
                                            <option value="{{ category.id }}" ng-repeat="category in $root.CATEGORIES">{{ category.name }}</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>-->

                        <div class="col-lg-2 col-md-3 col-sm-4 col-3">
                            <div class="header_configure_area">
                                <div class="mini_cart_wrapper">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-book"></i>
                                        <span class="cart_price">{{ $root.PRODUCT_QTY }}
                                            <i class="ion-ios-arrow-down"></i>
                                        </span>
                                    </a>

                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        <div class="mini_cart_inner">
                                            <div class="cart_item" ng-repeat="product in $root.CART_PRODUCTS">
                                                <div class="cart_img">
                                                    <a href="#">
                                                        <img ng-src="{{ product.virtualPath }}"
                                                            class=" img-fluid bg-img" alt="">
                                                    </a>
                                                </div>
                                                <div class="cart_info">
                                                    <a href="#">{{ product.titleAttribute }}</a>
                                                    <p>Qty: {{ product.quantity }} X <span> {{ product.mrp | currency :
                                                            'BDT ' : 2 }} </span></p>
                                                </div>
                                                <div class="cart_remove">
                                                    <a href="#" ng-click="removeCartProduct(product)"><i
                                                            class="ion-android-close"></i></a>
                                                </div>
                                            </div>

                                            <div class="mini_cart_table">
                                                    <!-- <div class="cart_total">
                                                        <span>Sub total:</span>
                                                        <span class="price">{{ $root.PRODUCT_TOTAL | currency : 'BDT ' : 2 }}</span>
                                                     </div>-->
                                                 <div class="cart_total mt-10">
                                                    <span>Total Number of Books:</span>
                                                    <span class="cart_price">{{ $root.PRODUCT_QTY }}</span>
                                                    <!-- <span class="price">{{ $root.PRODUCT_TOTAL | currency : 'BDT ' : 2 }}</span>-->
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a href="#/checkout/cart">Book Info</a>
                                            </div>
                                            <div class="cart_button">
                                                <a href="#/checkout/checkout">Proceed</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--mini cart end-->
                                </div>

                                <!-- <div class="search_with_author">
                                    <a href="javascript:void(0)" data-toggle="modal" class="btn_modal_fire" data-target="#search_modal">
                                        <i class="fa fa-search"></i>
                                    </a> -->

                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="search_modal" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" 
                                         style="margin: 0px !important;">
                                        <div class="modal-dialog modal-dialog-centered" role="document" 
                                            style="width: 100%; max-width: 100%!important; height:fit-content; min-height: 100vh;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Search Using...</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12 mb-3">
                                                            <div class="search_box">
                                                                <input placeholder="Search book..." type="text" name="keyword" id="keyword"
                                                                    ng-model="search.keyword">
                                                            </div>
                                                        </div> 
                                                        <div class="col-lg-4">
                                                            <select class="select_author_option w-100" name="author" id="author"
                                                                ng-model="search.authorId">
                                                                <option selected value="">All Authors</option>
                                                                <option value="{{ author.id }}" ng-repeat="author in $root.AuthorName">{{
                                                                    author.name }}</option>
                                                            </select>
                                                        </div>
                        
                                                        <div class="col-lg-4 col-md-12">
                                                            <select class="select_publisher_option w-100" name="publisher" id="publisher"
                                                                ng-model="publisherId">
                                                                <option selected value="">All Publishers</option>
                                                                <option value="{{ publisher.id }}"
                                                                    ng-repeat="publisher in $root.PublishersName">{{ publisher.name }}</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-4 col-md-12">
                                                            <select class="select_option w-100" name="category" id="category"
                                                                ng-model="search.categoryId">
                                                                <option selected value="">All Categories</option>
                                                                <option value="{{ category.id }}" ng-repeat="category in $root.CATEGORIES">
                                                                    {{ category.name }}</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-md-3 m-auto">
                                                            <button type="submit" class="mt-3 w-100 btn btn-warning">Search</button>
                                                        </div>
                                                    </div> -->

                                                    <!-- <div class="row">
                                                         LIST ALL PRODUCTS IN ROOT:PRODUCTS 
                                                        <div class="col-md-12">
                                                            <div class="product_list_slider">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-6">
                                                                        <div class="single_product">
                                                                            <div class="product_thumb">
                                                                                <a href="#">
                                                                                    <img src="img/product/product_1.png" alt="">
                                                                                </a>
                                                                            </div>
                                                                            <div class="product_content">
                                                                                <h3><a href="#">{{ product.titleAttribute }}</a></h3>
                                                                                <div class="product_price">
                                                                                    <span>{{ product.mrp | currency : 'BDT ' : 2 }}</span>
                                                                                </div>
                                                                                <div class="product_rating">
                                                                                    <ul>
                                                                                        <li><a href="#"><i class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                        <li><a href="#"><i class="fa fa-star"></i></a>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="product_add_to_cart">
                                                                                    <form action="#">
                                                                                        <input type="hidden" name="product_id"
                                                                                            value="{{ product.id }}">
                                                                                        <input type="hidden" name="product_name"
                                                                                            value="{{ product.titleAttribute }}">
                                                                                        <input type="hidden" name="product_price"
                                                                                            value="{{ product.mrp }}">
                                                                                        <button type="submit" class="btn btn-warning">Add
                                                                                            to Cart</button>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
             
    </header>
</section>