<div class="account-sidebar"><a class="popup-btn">my account</a></div>
<div class="dashboard-left" style="margin-top: 5%">
    <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span></div>
    <div class="block-content">
        <ul>
            <li class="active"><a href="#/customer/dashboard">Dot</a></li>
            <li><a href="#/customer/orders">Dashboard</a></li>
            <li><a href="#/customer/profile">My Profile</a></li>
            <li><a href="#/customer/change/password">Change Password</a></li>
        </ul>
    </div>
</div>